@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #e9e6ed;
  }

  section + section {
    @apply mt-32;
  }

  button[disabled] {
    cursor: not-allowed;
  }
}

.hero-section {
  @apply bg-[url(/hero-bg.png)] bg-no-repeat bg-contain;
  background-position-y: 70%;
}

@media (min-width: 768px) {
  .hero-section {
    background-position-y: 105px;
  }
}

@media (min-width: 1028px) {
  .hero-section {
    background-position: center;
  }
}
